@using System.Text.Json;
@using NCPC.Blazor.Library;
@using NCPC.ViewModels;
@using Microsoft.AspNetCore.Authorization;
@using Syncfusion.Blazor.DropDowns;
@page "/ReadLog"
@inherits NCPC.Blazor.Components.NCPCBaseComponent;
@namespace NCPC.Blazor.Pages
@attribute [Authorize]

<div class="row mt-3">
   <div class="col-lg-6">
      <div class="form-group">
         <label>Arquivos</label>
         <SfDropDownList TValue="FileInfoViewModel" TItem="FileInfoViewModel" @bind-Value="@SelectedFile"
            DataSource="@Files">
            <DropDownListEvents ValueChange="OnFileChanged" TValue="FileInfoViewModel" TItem="FileInfoViewModel">
            </DropDownListEvents>
            <DropDownListFieldSettings Text="Description" Value="FileName"></DropDownListFieldSettings>
         </SfDropDownList>
      </div>
   </div>
</div>
<div style="white-space: pre;font-size:0.8em;">
   @FileContent
</div>
@code {
   public List<FileInfoViewModel> Files { get; set; }
   public FileInfoViewModel SelectedFile { get; set; }
   public string FileContent { get; set; }
   protected override async Task OnInitializedAsync()
   {
      Files = await DataService.Get<List<FileInfoViewModel>>("Home/GetLogFiles");
      await base.OnInitializedAsync();
   }

   public async Task OnFileChanged(Syncfusion.Blazor.DropDowns.ChangeEventArgs<FileInfoViewModel,FileInfoViewModel> args)
   {
      FileContent = await DataService.Get<string>("Home/GetLogContent","file="+args.Value.FileName);

   }


}
