@using Syncfusion.Blazor.Notifications;
@using Syncfusion.Blazor.Inputs;
@using Syncfusion.Blazor;
@using NCPC.Blazor.Services;
@using NCPC.Blazor.Components;
@inherits LayoutComponentBase
@namespace NCPC.Blazor.Shared
@inject AppManager AppManager;

<div>
    <SfToast @ref="ToastObj" Title="Warning !" Content="">
        <ToastPosition X="Right" Y="Top"></ToastPosition>
    </SfToast>
    @*<CultureSwitcher />*@
    @Body
</div>

@code {
    [Inject]
    protected IJSRuntime JsRuntime { get; set; }

    [Inject]
        public HttpClient Http {get;set;}

    protected override async Task OnInitializedAsync()
    {

        AppManager.OnNotificationRised += CreateToast;

        await base.OnInitializedAsync();
    }

    public SfToast ToastObj { get; set; }

    private void CreateToast(string content, string title, ToastType toastType = ToastType.Info, int timeout = 5000)
    {
        string cssClass = "e-toast-" + toastType.ToString().ToLower();
        ToastObj.Show(new ToastModel()
        {
            Content = content,
            CssClass = cssClass,
            Title = title,
            Timeout = timeout,
            ShowCloseButton = true
        });
    }

    public async Task ReloadState()
    {
        await InvokeAsync(StateHasChanged);
        StateHasChanged();
    }
}